.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 3rem;
}

button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: backgrount-color 0.5 ease;
}
.add-button{
  background-color: rgb(110, 211, 110);
}

.add-button:hover{
  background-color: rgb(191, 228, 191);
}

.delete-button{
  background-color: rgb(219, 98, 93);
}

.delete-button:hover{
  background-color: rgb(165, 49, 45);
}

.move-button{
  background-color: rgb(117, 142, 211);
}

.move-button:hover{
  background-color: rgb(42, 128, 155);
}

input{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgb(67, 158, 115);
  border-radius: 10px;
  height: 23px;
  color: black;
}

ol{
  padding: 0;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 13px;
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 7px;
}

.text{
  flex: 1;
/* 
  flex-grow: 1;
  flex-shrink:  1;
  flex-basis: 0%; */
}

.delete-button, .move-button{
  padding: 8px 10px;
  margin-left: 10px;
}

body{
  background-color: rgb(116, 199, 199);
}